.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftHeaderContainer{
    height: 100%;
    width: 50%;
    margin: 0;
}
.rightHeaderContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.headerButton{
    height: 30px;
    margin: 1%;
    background-color: blue;
    color: white;
    border: 0;
}
#mainHeading{
    font-family: 'Montez', cursive; 
    font-size: 35px;
    margin: 0;
    color: blue;
}
#subHeading{
    font-family: 'Ubuntu Mono';
    margin: 0;
}
.postButton{
    height: 30px;
    margin: 1%;
    background-color: orange;
    color: black;
    border: 0;

}

.modal-form {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    color: darkslategray;
  }
  
  .modal-contentForm {
    background-color: #fefefe;
    margin: auto;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 15px;
  }
  input {
    width: 96%;
    border: 0;
    background-color: lightgray;
    padding: 2%;
    font-size: small;
    margin-bottom: 15px;
    margin-top: 10px;
}
textarea{
    width: 96%;
    border: 0;
    background-color: lightgray;
    padding: 2%;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
#signInForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.line{
    height: 1px;
    background-color: black;
    width: 100%;
    margin-bottom: 10px;
}
#signupbtn{
    background-color: green;
    width: 100%;
    border: 0;
    height: 30px;
    margin-top: 15px;
    color: white;
}
#getStatred{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
#notAMember{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
#notAMemberText{
    margin-right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}
#signUphyperLink{
    color: blue;
    cursor: pointer;
}